## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
app_df = application_df.drop(columns= ["EIN", "NAME", "ORGANIZATION"])
app_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
app_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_df["APPLICATION_TYPE"].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff = app_df["APPLICATION_TYPE"].value_counts()
application_types_to_replace = cutoff[cutoff < 300].index

# Replace in dataframe
for app in application_types_to_replace:
    app_df['APPLICATION_TYPE'] = app_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
app_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
app_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_value = app_df['CLASSIFICATION'].value_counts()
class_value[class_value > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

classifications_to_replace = class_value[class_value < 300].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
dum_df = pd.get_dummies(app_df)
dum_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [10]:
# Split our preprocessed data into our features and target arrays
X = dum_df.drop('IS_SUCCESSFUL', axis=1).values
y = dum_df['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layers_1 = 8
hidden_nodes_layers_2 = 5
hidden_nodes_layers_3 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layers_1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layers_2, activation="relu")
)
# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layers_3, activation="relu")
)
# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

c:\Users\mjeow\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:88: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 8)              │           840 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 5)              │            45 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 5)              │            30 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_3 (Dense)                 │ (None, 1)              │             6 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 921 (3.60 KB)

 Trainable params: 921 (3.60 KB)

 Non-trainable params: 0 (0.00 B)

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=75)

Epoch 1/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 744us/step - accuracy: 0.5402 - loss: 0.6772
Epoch 2/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 781us/step - accuracy: 0.7164 - loss: 0.6063
Epoch 3/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 709us/step - accuracy: 0.7192 - loss: 0.5852
Epoch 4/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 786us/step - accuracy: 0.7253 - loss: 0.5769
Epoch 5/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 783us/step - accuracy: 0.7240 - loss: 0.5722
Epoch 6/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 774us/step - accuracy: 0.7368 - loss: 0.5577
Epoch 7/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 731us/step - accuracy: 0.7283 - loss: 0.5644
Epoch 8/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 760us/step - accuracy: 0.7294 - loss: 0.5613
Epoch 9/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 763us/step - accuracy: 0.7258 - loss: 0.5625
Epoch 10/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 733us/step - accuracy: 0.7264 - loss: 0.5603
Epoch 11/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 698us/step - accuracy: 0.7248 - loss: 0.5640
Epoch 12/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 697us/step - accuracy: 0.7285 - loss: 0.5600
Epoch 13/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 733us/step - accuracy: 0.7268 - loss: 0.5612
Epoch 14/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 718us/step - accuracy: 0.7303 - loss: 0.5561
Epoch 15/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 749us/step - accuracy: 0.7279 - loss: 0.5573
Epoch 16/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 816us/step - accuracy: 0.7281 - loss: 0.5585
Epoch 17/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 749us/step - accuracy: 0.7275 - loss: 0.5577
Epoch 18/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 830us/step - accuracy: 0.7338 - loss: 0.5534
Epoch 19/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 766us/step - accuracy: 0.7287 - loss: 0.5602
Epoch 20/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 780us/step - accuracy: 0.7289 - loss: 0.5565
Epoch 21/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 916us/step - accuracy: 0.7304 - loss: 0.5543
Epoch 22/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 742us/step - accuracy: 0.7269 - loss: 0.5612
Epoch 23/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 784us/step - accuracy: 0.7324 - loss: 0.5525
Epoch 24/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 788us/step - accuracy: 0.7312 - loss: 0.5562
Epoch 25/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 759us/step - accuracy: 0.7263 - loss: 0.5585
Epoch 26/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 739us/step - accuracy: 0.7257 - loss: 0.5585
Epoch 27/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 766us/step - accuracy: 0.7264 - loss: 0.5607
Epoch 28/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 744us/step - accuracy: 0.7255 - loss: 0.5584
Epoch 29/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 752us/step - accuracy: 0.7235 - loss: 0.5607
Epoch 30/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 776us/step - accuracy: 0.7292 - loss: 0.5553
Epoch 31/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 790us/step - accuracy: 0.7256 - loss: 0.5600
Epoch 32/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 732us/step - accuracy: 0.7298 - loss: 0.5544
Epoch 33/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 740us/step - accuracy: 0.7254 - loss: 0.5590
Epoch 34/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 753us/step - accuracy: 0.7271 - loss: 0.5561
Epoch 35/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 741us/step - accuracy: 0.7251 - loss: 0.5575
Epoch 36/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 743us/step - accuracy: 0.7290 - loss: 0.5539
Epoch 37/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 776us/step - accuracy: 0.7292 - loss: 0.5557
Epoch 38/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 740us/step - accuracy: 0.7306 - loss: 0.5528
Epoch 39/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 863us/step - accuracy: 0.7274 - loss: 0.5567
Epoch 40/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 803us/step - accuracy: 0.7274 - loss: 0.5551
Epoch 41/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 737us/step - accuracy: 0.7325 - loss: 0.5523
Epoch 42/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 772us/step - accuracy: 0.7318 - loss: 0.5508
Epoch 43/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 796us/step - accuracy: 0.7307 - loss: 0.5513
Epoch 44/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 747us/step - accuracy: 0.7265 - loss: 0.5570
Epoch 45/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 742us/step - accuracy: 0.7303 - loss: 0.5543
Epoch 46/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 773us/step - accuracy: 0.7320 - loss: 0.5511
Epoch 47/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 757us/step - accuracy: 0.7329 - loss: 0.5503
Epoch 48/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 760us/step - accuracy: 0.7264 - loss: 0.5554
Epoch 49/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 726us/step - accuracy: 0.7303 - loss: 0.5528
Epoch 50/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 736us/step - accuracy: 0.7271 - loss: 0.5544
Epoch 51/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 752us/step - accuracy: 0.7331 - loss: 0.5501
Epoch 52/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 764us/step - accuracy: 0.7305 - loss: 0.5531
Epoch 53/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 754us/step - accuracy: 0.7320 - loss: 0.5495
Epoch 54/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 765us/step - accuracy: 0.7347 - loss: 0.5476
Epoch 55/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 731us/step - accuracy: 0.7328 - loss: 0.5513
Epoch 56/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 779us/step - accuracy: 0.7345 - loss: 0.5491
Epoch 57/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 848us/step - accuracy: 0.7293 - loss: 0.5534
Epoch 58/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 770us/step - accuracy: 0.7330 - loss: 0.5517
Epoch 59/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 933us/step - accuracy: 0.7271 - loss: 0.5568
Epoch 60/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 775us/step - accuracy: 0.7318 - loss: 0.5515
Epoch 61/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 752us/step - accuracy: 0.7270 - loss: 0.5544
Epoch 62/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 776us/step - accuracy: 0.7312 - loss: 0.5513
Epoch 63/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 769us/step - accuracy: 0.7236 - loss: 0.5600
Epoch 64/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 744us/step - accuracy: 0.7343 - loss: 0.5495
Epoch 65/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 742us/step - accuracy: 0.7244 - loss: 0.5593
Epoch 66/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 754us/step - accuracy: 0.7288 - loss: 0.5541
Epoch 67/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 743us/step - accuracy: 0.7349 - loss: 0.5483
Epoch 68/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 769us/step - accuracy: 0.7292 - loss: 0.5532
Epoch 69/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 789us/step - accuracy: 0.7295 - loss: 0.5534
Epoch 70/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 789us/step - accuracy: 0.7279 - loss: 0.5553
Epoch 71/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 735us/step - accuracy: 0.7336 - loss: 0.5480
Epoch 72/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 742us/step - accuracy: 0.7330 - loss: 0.5478
Epoch 73/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 754us/step - accuracy: 0.7319 - loss: 0.5519
Epoch 74/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 757us/step - accuracy: 0.7245 - loss: 0.5546
Epoch 75/75
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 778us/step - accuracy: 0.7301 - loss: 0.5545

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 927us/step - accuracy: 0.7360 - loss: 0.5511
Loss: 0.5511050820350647, Accuracy: 0.7359766960144043

In [16]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.